{% extends 'yourapp/lrl.html' %}

{% block page_title %} Login Page {% endblock %}

{% block content %}
<div id="login-container">
    <h2>Login</h2>
    {% if messages %}
        {% for messgae in messages %}
            <p>{{messgae | escape}}</p>
        {% endfor %}
    {% endif %}
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="formrow">
            {% if form.username.errors %}
                {{form.username.errors}}
            {% endif %}
            {{form.username.label_tag}}
            {{form.username}}
        </div>
        <div class="formrow">
            {% if form.password.errors %}
                {{form.password.errors}}
            {% endif %}
            {{form.password.label_tag}}
            {{form.password}}
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Register an account? <a href="/register/">Register here</a></p>
</div>

{% endblock %}