{% extends 'layout.html' %}

{% block page_title %} Post Page {% endblock %}

{% block content %}
{% load static %}
<section id="post">
    <h2>Post</h2>
</section>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name"><br><br>
    <textarea rows="5" name="desc" placeholder="Description"></textarea><br><br>
    <input type="file" name="file"><br><br>
    <input type="submit" value="Save data">
</form>

<!-- Display all posts -->
<section id="all-posts">
    <h2>All Posts</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for post in posts %} 
        <div>
            <h3>{{ post.name }}</h3>
            <p>{{ post.desc }}</p>
            <img src="{{ post.image.url }}" alt="{{ post.name }}" width=500>
            <div class="post-container">
            <p>Likes: {{ post.like_count }}</p>

            <!-- Display comments for the post -->
            <div class="comment-section">
            {% for comment in post.comments.all %}
            <div>
                <p>{{ comment.user.username }}: {{ comment.text }}</p>
                {% if comment.user == request.user %}
                    <form method="post" action="{% url 'delete_comment' comment.id %}">
                        {% csrf_token %}
                        <button class="inline-form" type="submit">Delete Comment</button>
                    </form>
                {% endif %}
            </div>
            {% endfor %}
                </div>
            </div>


            <!-- Like button -->
            <form class="inline-form" method="post" action="{% url 'like_post' post.id %}">
                {% csrf_token %}
                <button type="submit">Like</button>
            </form>
            
            <!-- Comment section -->
            <form class="inline-form" method="post" action="{% url 'comment_post' post.id %}">
                {% csrf_token %}
                <textarea class="inline-form" rows="3" name="comment" placeholder="Add a comment" style="float: right; width: 577px; height: 36px;"></textarea>
                <button type="submit">Comment</button>
            </form>

            <!-- Delete button -->
                <form method="post" action="{% url 'delete_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" style="float: right;">Delete Post</button>
                </form>
            </div>
        </div><br><br>
    {% endfor %}
    <br><br><br>
</section>

{% endblock %}
