{% extends 'yourapp/lrl.html' %}

{% block page_title %} Register Page {% endblock %}

{% block content %}
    <div id="register-container">
        <h2>Register</h2>
        <form action="/register/" method="post">
            {% csrf_token %}
            <div class="form-row">
                {% if form.username.errors %}
                    {{form.username.errors}}
                {% endif %}
                {{form.username.label_tag}}
                {{form.username}}
            </div>
            <div class="form-row">
                {% if form.password1.errors %}
                    {{form.password1.errors}}
                {% endif %}
                {{form.password1.label_tag}}
                {{form.password1}}
            </div>
            <div class="form-row">
                {% if form.password2.errors %}
                    {{form.password2.errors}}
                {% endif %}
                {{form.password2.label_tag}}
                {{form.password2}}
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login/">Login here</a></p>
    </div>

{% endblock %}
